---
import { TbTargetArrow } from "react-icons/tb";
---
<section
  class="w-full bg-[#E6F7F9] p-6 flex flex-col items-center justify-center rounded-3xl min-h-96"
>
  <!-- Icono y título -->
  <div class="flex flex-col items-center mb-2">
    <div class="bg-[#1e3a8a] rounded-full p-6 mb-2">
      <TbTargetArrow className="text-white size-14"/>
    </div>
    
    <!-- titulo color negro -->
    <p class="text-[#030817] text-center font-bold text-base">
      MISIÓN
    </p>
  </div>

  <!-- Texto color negro -->
  <p class="text-gray-800 text-sm font-normal text-center leading-relaxed px-2">
    Transformar espacios y generar 
    <span class="font-bold">experiencias inolvidables</span> 
    mediante productos de servicios de iluminación y 
    <span class="font-bold">diseños innovadores</span>, 
    superando expectativas y satisfacción a los clientes.
  </p>
</section>

