---
import { LuTelescope } from "react-icons/lu";
---
<!-- Sección de tarjeta de visión con icono azul y texto descriptivo -->
<section
  class="w-full bg-[#E6F7F9] p-6 flex flex-col items-center justify-center rounded-3xl min-h-96"
>
  <!-- Icono y título -->
  <div class="flex flex-col items-center mb-4">
    <div class="bg-[#1e3a8a] rounded-full p-6 mb-3">
      <LuTelescope className="text-white size-14"/>
    </div>

    <!-- titulo color negro -->
    <p class="text-[#010510] text-center font-bold text-base">
      VISIÓN
    </p>
  </div>

  <!-- Texto -->
  <p class="text-gray-800 text-sm font-normal text-center leading-relaxed px-2">
    Ser reconocidos como líderes en 
    <span class="font-bold">soluciones técnológicas</span> 
    para iluminación y diseño en el mercado nacional peruano, impulsando la 
    <span class="font-bold">innovación constante</span> 
    y creando un impacto positivo en la comunidad local.
  </p>
</section>

