---
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import imagen1 from "../assets/images/blog/banner_blog2.jpg";
import AboutComponent from "../components/about/AboutComponent.astro";
import imagenNumero1 from "../assets/images/libro_reclamaciones/numero1.webp";
import imagenNumero2 from "../assets/images/libro_reclamaciones/numero2.webp";
---

<Layout title="Blog" canonicalUrl="https://yuntaspublicidad.com/libro_reclamaciones/">
  <section class="relative">
    <Picture
      src={imagen1}
      formats={["webp"]}
      alt="Imagen"
      class="w-full h-full object-cover"
    />
    <div
      class="absolute inset-0 flex flex-col justify-center items-center text-center"
    >
      <h1
        class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl Montserrat font-black text-white sombra-title"
      >
        Reclamaciones
      </h1>
    </div>
    <div class="w-full h-5 bg-[#9ED8DF]"></div>
    <div class="w-full bg-[#1ABCD7] py-4 md:py-4 px-4 md:px-8">
      <!-- TÍTULO PRINCIPAL -->
      <div class="w-full  py-12 px-4">
        <h2 class="text-white text-center uppercase tracking-wide leading-tight">
            <span class="block text-2xl md:text-4xl lg:text-5xl font-black mt-1">
                LIBRO DE RECLAMACIONES
            </span>
        </h2>
    </div>
    </div>
  </section>

  <div
    class="w-full bg-white text-blue-950 text-3xl font-extrabold text-center h-20 content-center">
    
  </div>



  <!-- Inicio del formulario del Libro de Reclamaciones -->
  <section class="bg-[#FFFEFA] py-12">
  <div class="mx-auto px-6" style="max-width: 70%;">

    <!-- SECCIÓN 1 -->
    <div class="mb-16">
      <div class="flex items-center gap-4 mb-10 font-bold">
        <div class="w-10 h-10 flex items-center justify-center border-2 border-black rounded-full text-xl font-bold">
          1
        </div>
        <h2 class="text-2xl font-semibold text-[#1A1A1A]">
          Datos de la persona que presenta el reclamo
        </h2>
      </div>

      <!-- Nombre -->
      <label class="block text-lg font-semibold mb-2">Nombre</label>
      <input
        type="text"
        placeholder="ej: Juan"
        class="w-full bg-white px-4 py-3 border border-gray-400 rounded-xl text-gray-800 placeholder-gray-500 placeholder:italic mb-6"
      />

      <!-- Apellido -->
      <label class="block text-lg font-semibold mb-2">Apellido</label>
      <input
        type="text"
        placeholder="ej: Quispe"
        class="w-full bg-white px-4 py-3 border border-gray-400 rounded-xl text-gray-800 placeholder-gray-500 placeholder:italic mb-6"
      />

      <!-- Tipo + Número de documento -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <label class="block text-lg font-semibold mb-2">Tipo de documento</label>
          <select
            class="w-full bg-white px-4 py-3 border border-gray-400 rounded-xl text-gray-800 placeholder-gray-500 mb-6">
            <option>seleccionar</option>
            <option>DNI</option>
            <option>Carnet de Extranjería</option>
          </select>
        </div>

        <div>
          <label class="block text-lg font-semibold mb-2">Número de documento</label>
          <input
            type="text"
            placeholder="ej: 123456789"
            class="w-full bg-white px-4 py-3 border border-gray-400 rounded-xl text-gray-800 placeholder-gray-500 mb-6 placeholder:italic"
          />
        </div>
      </div>

      <!-- Correo -->
      <label class="block text-lg font-semibold mb-2">Correo Electrónico</label>
      <input
        type="email"
        placeholder="ej: juan@quispe.com"
        class="w-full bg-white px-4 py-3 border border-gray-400 rounded-xl text-gray-800 placeholder-gray-500 placeholder:italic mb-6"
      />

      <!-- Teléfono -->
      <label class="block text-lg font-semibold mb-2">Teléfono</label>
      <input
        type="tel"
        placeholder="ej: 987 654 321"
        class="w-full bg-white px-4 py-3 border border-gray-400 rounded-xl text-gray-800 placeholder-gray-500 placeholder:italic mb-6"
      />
    </div>

    <!-- SECCIÓN 2 -->
    <div class="mt-20">
      <div class="flex items-center gap-4 mb-17 relative">
        <div class="w-10 h-10 flex items-center justify-center border border-black rounded-full text-xl font-semibold">
          2
        </div>
        <h2 class="text-2xl font-semibold text-[#1A1A1A]">
          Información de reclamo
        </h2>

      </div>

      <!-- Fecha -->
      <label class="block text-lg font-semibold mb-2">Fecha de compra</label>
      <input
        type="date" 
        class="w-full bg-white px-4 py-3 border border-gray-400 rounded-xl text-gray-800 mb-6"
      />

      <!-- Producto -->
      <label class="block text-lg font-semibold mb-2">Producto</label>
      <select
        class="w-full bg-white px-4 py-3 border border-gray-400  rounded-xl text-gray-800 mb-6 italic text-gray-400"
      >
        <option>seleccionar</option>
        <option>Letreros Neón LED</option>
        <option>Sillas y Mesas LED</option>
      </select>

      <!-- Detalle -->
      <label class="block text-lg font-semibold mb-2">Detalle de la reclamación</label>
      <textarea
        placeholder="Detalle su reclamo aquí"
        rows="4"
        class="w-full bg-white px-4 py-3 border border-gray-400 rounded-xl text-gray-800 placeholder:italic mb-6"
      ></textarea>

      <!-- Monto -->
      <label class="block text-lg font-semibold mb-2">Monto reclamado</label>
      <input
        type="number"
        placeholder="S/.999"
        class="w-full md:w-1/3 bg-white px-4 py-3 border border-gray-400 rounded-xl text-gray-800 mb-10"
      />

      <!-- Botón -->
      <div class="flex justify-center">
        <button
          class="bg-[#1CC4DA] text-white font-semibold px-19 py-3 rounded-xl text-lg hover:bg-[#17b0c3] transition mt-15 mb-15"
        >
          ENVIAR
        </button>
      </div>

    </div>

  </div>
</section>



</Layout>
