---
const url = new URL(Astro.request.url);
const path = url.pathname;

// Lista de secciones
const items = [
  { name: "Inicio", path: "/admin/inicio" },
  { name: "Seguimiento", path: "/admin/seguimiento" },
  { name: "Blogs", path: "/admin/" },
  { name: "Productos", path: "/admin/productos" },
  { name: "Usuarios", path: "/admin/usuarios" },
];

// Buscar el ítem que coincida con la ruta actual
let currentItem = items.find((item) => item.path === path);

if (!currentItem) {
  currentItem = items.find((item) => path.startsWith(item.path));
}

const pageTitle = currentItem ? currentItem.name : "Sección Principal";
---

<header
  class="col-span-2 bg-blue-950 text-white py-4 px-4 flex justify-between items-center relative"
>
  <h2
    class="text-lg sm:text-xl md:text-2xl lg:text-3xl font-bold tracking-wide text-center flex-1"
  >
    {pageTitle}
  </h2>
</header>
