---
import "swiper/css";
import "swiper/css/effect-fade";
import "swiper/css/pagination";
import "./HeroSlider.css";
import proyecto1 from "../../assets/images/inicio/proyecto-1.webp";

import { Image } from "astro:assets";

const slidersData = [
  {
    src: proyecto1,
    title: "Proyecto destacado de Yuntas Publicidad",
    alt: "Proyecto destacado de Yuntas Publicidad",
  },
  {
    src: proyecto1,
    title: "Proyecto destacado de Yuntas Publicidad",
    alt: "Proyecto destacado de Yuntas Publicidad",
  },
];
---

<section class="relative w-full h-[400px] sm:h-[667px]">
  <div class="hero-swiper h-full">
    <div class="swiper h-[400px] sm:h-[667px]">
      <div class="swiper-wrapper">
        {
          slidersData.map((slide, index) => (
            <div class="swiper-slide">
              <Image
                src={slide.src}
                alt={slide.alt}
                title={slide.title}
                widths={[320, 540, 600, slide.src.width]}
                sizes="(max-width: 420px) 320px, (max-width: 720px) 540px, (max-width: 1024px) 600px, 100vw"
                quality={80}
                loading={index === 0 ? "eager" : "lazy"}
                class="w-full h-full object-cover absolute inset-0"
              />
              {/* Texto sobre el slider */}
              <div class="absolute top-10 right-0 bg-gray-100 py-5 px-12 text-xl sm:text-2xl uppercase font-semibold text-gray-600 rounded-l-xl shadow-lg">
                Nuestros <span class="font-black">proyectos</span>
              </div>
            </div>
          ))
        }
      </div>

      <!-- Controles -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<style>
  .hero-swiper {
    width: 100%;
    height: 500px;
  }

  
</style>

<script>
  import Swiper from "swiper";
  import { Autoplay, EffectFade, Pagination } from "swiper/modules";

  document.addEventListener("DOMContentLoaded", () => {
    new Swiper(".swiper", {
      modules: [Autoplay, Pagination, EffectFade],
      loop: true,
      effect: "fade",
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  });
</script>
